.calendar-container{
    margin: auto;
    width: 90%;
    padding: 0rem 5rem;
    max-width: 1100px;
}
.fc-event{
    background: var(--orange-gradient)!important;
}
.fc .fc-timegrid-slot{
    height: 2.5rem!important; /* !important is used our css  override  default css*/
}

td {
    border: 1px solid var(--grey)!important;
}